@model MantenimientoCrud.Models.AR_Account

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div>
    <div class="col-sm-12">
        <div class="card border-warning">
            <div class="card-header bg-warning">
                <h4>Registrar</h4>
            </div>
            <div class="card-body">
                <form action="@Url.Action("Agregar","Mantenimiento")" method="post">

       
                    <div class="form-group">
                        <label>Number</label>
                        <input type="text" name="Number" value="@Html.DisplayTextFor(m => m.Number)" />
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="Name" value="@Html.DisplayTextFor(m => m.Name)" />
                    </div>

                    <div class="form-group">
                        <label>ExtCode</label>
                        <input type="text" name="ExtCode" value="@Html.DisplayTextFor(m => m.ExtCode)" />
                    </div>

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="Title" value="@Html.DisplayTextFor(m => m.Title)" />
                    </div>

                    <div class="form-group">
                        <label>FirstName</label>
                        <input type="text" name="FirstName" value="@Html.DisplayTextFor(m => m.FirstName)" />
                    </div>

                    <div class="form-group">
                        <label>MiddleName</label>
                        <input type="text" name="MiddleName" value="@Html.DisplayTextFor(m => m.MiddleName)" />
                    </div>

                    <div class="form-group">
                        <label>LastName</label>
                        <input type="text" name="LastName" value="@Html.DisplayTextFor(m => m.LastName)" />
                    </div>

                    <div class="form-group">
                        <label>Suffix</label>
                        <input type="text" name="Suffix" value="@Html.DisplayTextFor(m => m.Suffix)" />
                    </div>

                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" name="Company" value="@Html.DisplayTextFor(m => m.Company)" />
                    </div>

                    <div class="form-group">
                        <label>JobTitle</label>
                        <input type="text" name="JobTitle" value="@Html.DisplayTextFor(m => m.JobTitle)" />
                    </div>
 
                    <div class="form-group">
                        <label>Address1</label>
                        <input type="text" name="Address1" value="@Html.DisplayTextFor(m => m.Address1)" />
                    </div>

                    <div class="form-group">
                        <label>Address2</label>
                        <input type="text" name="Address2" value="@Html.DisplayTextFor(m => m.Address2)" />
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input type="text" name="City" value="@Html.DisplayTextFor(m => m.City)" />
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <input type="text" name="State" value="@Html.DisplayTextFor(m => m.State)" />
                    </div>

                    <div class="form-group">
                        <label>Zip</label>
                        <input type="text" name="Zip" value="@Html.DisplayTextFor(m => m.Zip)" />
                    </div>

                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" name="Country" value="@Html.DisplayTextFor(m => m.Country)" />
                    </div>

                    <div class="form-group">
                        <label>PhoneNumber</label>
                        <input type="text" name="PhoneNumber" value="@Html.DisplayTextFor(m => m.PhoneNumber)" />
                    </div>

                    <div class="form-group">
                        <label>MobileNumber</label>
                        <input type="text" name="MobileNumber" value="@Html.DisplayTextFor(m => m.MobileNumber)" />
                    </div>

                    <div class="form-group">
                        <label>FaxNumber</label>
                        <input type="text" name="FaxNumber" value="@Html.DisplayTextFor(m => m.FaxNumber)" />
                    </div>

                    <div class="form-group">
                        <label>EMail</label>
                        <input type="text" name="EMail" value="@Html.DisplayTextFor(m => m.EMail)" />
                    </div>

                    <div class="form-group">
                        <label>HomePage</label>
                        <input type="text" name="HomePage" value="@Html.DisplayTextFor(m => m.HomePage)" />
                    </div>

                    <div class="form-group">
                        <label>IMAddress</label>
                        <input type="text" name="IMAddress" value="@Html.DisplayTextFor(m => m.IMAddress)" />
                    </div>

                    <div class="form-group">
                        <label>StatementAddress</label>
                        <input type="text" name="StatementAddress" value="@Html.DisplayTextFor(m => m.StatementAddress)" />
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","Mantenimiento")">Volver</a>
                </form>
            </div>
        </div>
    </div></div>
</div>

