@model  List<MantenimientoCrud.Models.sp_ObtenerCuentaResult>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilo {
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />

}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card card-header border-warning ">
            <div class="card-header bg-warning">
                <h4>Cuentas AR</h4>
            </div>
            <hr />
            <div class="card-body">
                <a class="btn btn-success" href="@Url.Action("Agregar","Mantenimiento")"> Crear nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table id="arcuentas" class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compañia</th>
                                <th>Ciudad</th>
                                <th>Pais</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Fecha de Cierre</th>
                                <th>Notas</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Company</td>
                                    <td>@item.City</td>
                                    <td>@item.Country</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.EMail</td>
                                    <td>@item.ClosingDate</td>
                                    <td>@item.Notes</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Editar","Mantenimiento", new { id = item.ID})">Editar</a>
                                        <form action="@Url.Action("Eliminar", "Mantenimiento", new { id = item.ID })" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


    <script>
        $(document).ready(function () {
            $('#arcuentas').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            filename: 'Cuentas AR',
                            title: 'Cuentas AR',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7]
                            },
                            className: 'btn-export-excel'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: 'PDF',
                            filename: 'Cuentas AR',
                            title: 'Cuentas AR',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7]
                            },
                            customize: function (doc) {
                                doc.pageOrientation = 'landscape';
                                doc.content[1].table.widths = [70, 90, 100, 90, 100, 90, 100, 110];
                                var Fecha = new Date();
                                var Formato = Fecha.toLocaleString();

                               
                                doc.content.splice(0, 0, {
                                    text: 'Fecha y Hora: ' + Formato,
                                    style: 'header'
                                });
                                doc.pageMargins = [10, 10, 10, 10];
                            },
                            className: 'btn-export-pdf'

                        }
                    ]
                }
            );
        });
    </script>
}