@model MantenimientoCrud.Models.PaginatedLists<MantenimientoCrud.Models.sp_ObtenerCuentaResult>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="card border-warning">
            <div class="card-header bg-warning">
                <h4>Lista de AR_Account</h4>
            </div>
            <div class="card-body">
                <a class="btn btn-success" href="@Url.Action("Agregar","Mantenimiento")"> Crear nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compañia</th>
                                <th>Ciudad</th>
                                <th>Pais</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Cierre</th>
                                <th>Notas</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Company</td>
                                    <td>@item.City</td>
                                    <td>@item.Country</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.EMail</td>
                                    <td>@item.ClosingDate</td>
                                    <td>@item.Notes</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Editar","Mantenimiento", new { id = item.ID})">Editar</a>
                                        <form action="@Url.Action("Eliminar", "Mantenimiento", new { id = item.ID })" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?');">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <a href="@Url.Action("Inicio", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })">Anterior</a>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <a href="@Url.Action("Inicio", new { pageNumber = i, pageSize = Model.PageSize })" class="@(i == Model.PageNumber ? "current" : "")">@i</a>
                        }

                        @if (Model.HasNextPage)
                        {
                            <a href="@Url.Action("Inicio", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Siguiente</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
